# Python 가상환경
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# 로그 파일
logs/
*.log
nohup.out

# 데이터 폴더
data_cache/
output/

# 백테스트 결과
*.png
*.json

# 백업 파일
*.bak
*.swp

# IDE 설정 파일 (VSCode, PyCharm 등)
.vscode/
.idea/

# OS 생성 파일 (Mac, Windows)
.DS_Store
Thumbs.db

# 환경변수 파일 (보안 상 무조건 제외)
.env